
<div  class="fc_dashboard_wrapper" id="wrapper" >
      <div  class="fc_sidenav">
        <div class="sidenav_logo">
            <a href="home">
                <img class="logo_img" src="/assets/images/family-central-white.svg" width="106" height="58"
                    alt="Family Central" />
            </a> &nbsp;&nbsp;  
        </div>
        <div  class="sidenav_menu">
            <ul class="menu">
             <li>
                    <a [routerLink]="'myprofile'">
                        <span><i class="fas fa-user"></i></span>
                        <span>Profile</span></a>
                </li>
                <li>
                    <a [routerLink]="'customerlist'">
                        <span><i class="fas fa-address-book"></i></span>
                        <span>Customer List</span></a>
                </li>
                <li>
                    <a [routerLink]="'trustedprofessional'">
                        <span><i class="fas fa-list-alt"></i></span>
                        <span>TPA List</span></a>
                </li>
                <li>
                    <a [routerLink]="'promocodes'">
                        <span><i class="fas fa-gift"></i></span>
                        <span (click)="addToggle()">Promo Codes</span>
                        <p [ngClass]="status ? 'toggled' : ''"> <!-- Add a sub-dropdown list -->
                            <li><a [routerLink]="'discount'"><i class="fas fa-percent"></i>Discounted Promocodes</a></li> <!-- Sub-dropdown item 1 -->
                            <li><a [routerLink]="'free'"><i class="fas fa-star"></i>Free Promocodes</a></li> <!-- Sub-dropdown item 2 -->
                        </p>
                    </a>
                </li>
                <ng-container *ngIf="role === 'Admin'">
                <li>
                    <a [routerLink]="'createbclogin'">
                        <span><i class="fas fa-user-plus"></i></span>
                        <span>Create BC login</span></a>
                </li></ng-container>
                <li>
                    <a>
                        <span><i class="fas fa-sign-out-alt"></i></span>
                        <span (click)="logout()">Logout</span>
                    </a>
                </li>
            </ul>
            <div class="sidenav_footer">
                <span><i class="fas fa-headset"></i></span>

                <a [routerLink]="'support'">Support</a>
            </div>
        </div>
    <!-- </ng-container> -->
    </div>
    <div class="content_wrapper dashboard">
        <!-- Header section -->

        
        <div class="header_area">
            <div class="header_content justify-content-end">
                <div class="top-nav">
                    <ul class="navbar">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2" style="font-size: 50px;"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!-- <li><a class="dropdown-item" >Profile</a></li> -->
                                <!-- <li><a class="dropdown-item" >Settings</a></li> -->
                                <li><a class="dropdown-item" [routerLink]="'myprofile'">My Profile</a></li>
                                <li><a class="dropdown-item" [routerLink]="'support'">Support</a></li>
                                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                            </ul>
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
        <div class="dynamic_routes" >
            <router-outlet></router-outlet>
        </div>
    </div>
</div>