.fc_dashboard_wrapper {
    display: block;
    /* grid-template-columns: 186px auto; */
    padding-left: 205px;
}


.fc_sidenav {
    background-color: var(--yankeesBlue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 205px;
    min-height: 100vh;
    height: 100%;
    overflow-y: auto;
}

.sidenav_logo {
    padding: 15px 30px;
    border-bottom: 1px solid #ffffff;
    height: 105px;
    min-height: 105px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidenav_logo .logo_img {
    width: 106px;
    height: 58px;
}

.sidenav_menu {
    flex-grow: 1;
    padding: 15px 0;
}

.sidenav_menu .menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidenav_menu .menu a {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    letter-spacing: .3px;
    display: grid;
    grid-template-columns: 20px auto;
    gap: 5px;
    align-items: center;
    padding: 10px 30px;
    opacity: 0.70;
    transition: .2s;
}

.sidenav_menu .menu li.active a,
.sidenav_menu .menu a:hover {
    opacity: 1;
}

.sidenav_menu .menu li.onboarding_tools {
    border-top: 1px solid #ffffff;
    margin-top: 25px;
    padding-top: 25px;
}

.sidenav_menu .menu li.onboarding_tools a {
    color: red;
    grid-template-columns: 1fr;
    background-color: #fff;
    opacity: 1;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}
.toggled {
    /* CSS styles for when the sidebar is toggled (hidden) */
    display: none;
  }

.sidenav_menu .menu li.onboarding_toolss a {
    grid-template-columns: 1fr;
}

.sidenav_footer {
    padding: 30px 28px 30px 30px;
    border-top: 1px solid #ffffff;
    margin: 20px 0 0;
}

.sidenav_footer a {
    font-size: 16px;
    color: #fff;
}

.breadcrumb .separator {
    margin: 0 10px 0;
}

.secondary_btn.secondary_btn_round {
    font-size: 23px;
}



@media only screen and (min-width: 768px) and (max-width: 991px) {
    .menu_icon {
        min-width: 30px;
        margin-right: 15px;
    }

    .menu_icon img {
        width: 30px;
    }

    .single_item {
        box-shadow: 0 0 10px rgba(75, 75, 75, 0.14);
        border-radius: 10px;
        padding: 10px;
    }

    .menu_text h2 {
        font-size: 16px;
    }

    .menu_text p {
        margin: 5px 0 0;
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    .dashboard_wrapper .login_wrapper {
        padding-bottom: 150px;
    }

    .menu_text h2 {
        font-size: 16px;
    }

    .menu_text p {
        margin: 5px 0 0;
        font-size: 14px;
    }

    .addnew_wrapper.mt-50 {
        margin-top: 30px;
    }

    .sidenav_menu {
        background-color: #020c42;

    }

    .sidenav_menu .menu a:hover {
        color: white;
    }


}

/* Small device screen */
@media only screen and (min-width: 320px) and (max-width: 389px) {
    .single_item_wrapper {
        width: 100%;
    }
}

.white-header {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
}

.dropdown-toggle::after {
    display: none;
}

/* Dashboard Default Style */
.dashboard .header_area {
    padding: 20px 35px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.16); */
    height: 105px;
    border-bottom: 1px solid #F0EDF3;
}

.dashboard .site_logo {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.dashboard .logo_img {
    width: 157px;
}

.dashboard .top-nav {
    display: flex;
}

.dashboard .curve {
    display: none;
}

