
<div class="card mb-7" style="background-color:  gainsboro;margin: 20px;margin-left: 40px;margin-right: 40px;">
  <!--begin::Card body-->
  <div class="card-body">
      <!--begin::Compact form-->
      <div class="d-flex align-items-center">
          <form name="filter" id="filter" >
          <!--begin::Input group-->
          
          <table>
            <tbody><tr><th>
            <input [(ngModel)]="searchQuery" type="text" style="width:500px;" class="form-control form-control-solid" id="fname1" name="fname1" placeholder="Search Customers">
            <span *ngIf="searchAttempted && !isSearchValid()" id="warning-message" style="color: red;font-size: 15px;">Length is short, minimum length required is 3.</span>
            </th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <!--end::Input group-->
        <!--begin:Action-->
        <th class="d-flex align-items-center">
            <input (click)="search()" name="search_filter" type="submit" value="Search" title="Search" id="search_filter" class="btn btn-primary me-5">
           
            
        </th></tr></tbody></table>
        <!--end:Action-->
       
          </form>

      </div>
  </div>
</div>


<!DOCTYPE html>
<html lang="en">

<body >
  <div  *ngIf="users.length > 0" class="mat-elevation-z8">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Filter" (keyup)="Filterchange($event)">
    </mat-form-field>
    <div class="table-container">
      <table *ngIf="users.length > 0" mat-table matSort [dataSource]="dataSource" id="yourDataTableId">
    
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let user"><a [routerLink]="['/home/customerdashboard', user.id]" style="text-transform: uppercase;">{{ user.id }}</a></td>
        </ng-container>
    
        <!-- First Name Column -->
        <ng-container matColumnDef="firstname">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>FIRST NAME</th>
          <td mat-cell *matCellDef="let user">{{ user.firstname }}</td>
        </ng-container>
    
        <!-- Last Name Column -->
        <ng-container matColumnDef="lastname">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>LAST NAME</th>
          <td mat-cell *matCellDef="let user">{{ user.lastname }}</td>
        </ng-container>
    
        <!-- Role Column -->
        <ng-container matColumnDef="rolename">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>ROLE</th>
          <td mat-cell *matCellDef="let user">{{ user.rolename }}</td>
        </ng-container>
    
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>EMAIL</th>
          <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>
    
        <!-- Define columns -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    
  
</div>
<mat-paginator  [pageSizeOptions]="[5, 10, 20]"
showFirstLastButtons
aria-label="Select page of periodic elements">
</mat-paginator>
<div *ngIf="searchAttempted && users.length === 0" style="margin: 20px; color: red;">
  No data available.
</div>
<!-- Pagination controls -->

</body>

</html>






