.search {
    text-align: center;
    margin-top: 20px;
  }

  .search-input {
    border-radius: 20px;
    padding: 10px;
  }

  .content-table {
    margin: 0 auto;
    margin-top: 80px;
    border-collapse: collapse;
    width: 100%;
  }

  .content-table th, .content-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }

  .content-table th {
    background-color: #f2f2f2;
  }

  .content-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .content-table tr:hover {
    background-color: #e0e0e0;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #0074d9;
  }