<!DOCTYPE html>
<html lang="en">

<body>
    <table class="content-table" style=" margin: 0 auto; margin-top: 80px;">
        <thead>
          <tr>
            <!-- <th>Rank</th> -->
            <th>Name</th>
            <th>Role</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <td>1</td> -->
            <td>Prem Thudia</td>
            <td>CTO</td>
            <td>prem@smbxl.com</td>
          </tr>
          <tr class="active-row">
            <!-- <td>2</td> -->
            <td>Srikanth Dodla</td>
            <td>Technical Manager</td>
            <td>srikanth@smbxl.com</td>
          </tr>
          <tr>
            <!-- <td>3</td> -->
            <td>Mrudula Krutibash</td>
            <td>Project Manager</td>
            <td>mrudula@smbxl.com</td>
            <span></span>
            <!-- <td><i class="fas fa-copy copy-icon" onclick="copyToClipboard('mrudula@smbxl.com')"></i></td> -->
          </tr>
        </tbody>
      </table>
</body>
</html>